<nav> 
    <div class="nav-wrapper light-blue lighten-1" >
		<div class="brand-logo">
			&nbsp;
			<i class="material-icons" style="font-size: 34px; margin-right:0px; margin-left: 10px">
				assignment
			</i>
			&nbsp;Things to Do
		</div>
		<ul class="right hide-on-med-and-down" style="cursor: pointer;  margin-right: 12px" (click)="signOut()">
			<li><i class="material-icons">power_settings_new</i></li>		
		</ul>
    </div>
</nav>
<div class="container" style="margin-top: 10px;">
	<div class="row">
		<div class="col s6 rightDivider" (dragover) = "onDragOver($event)"
			(drop) = "onDropIncomplete($event)" id="leftBucket">
			<h1 class="header center orange-text" style="font-size: 3.2rem;">In Progress</h1>
			<ul id='incompleteList'>				
				<li *ngFor = "let toDo of incomplete">
					<div  class="card yellow darken-1 hoverable scale-transition" draggable="true" 
						style="cursor:move" (dragstart)="onDrag(toDo)"
						id="{{toDo._id}}Card">
						
						<div class="card-content white-text" id="{{toDo._id}}">
							<span class="card-title editable title specialInlineFocus"
								style="cursor:text" (dragover) = "onDragOver($event)"
								(drop) = "onDropIncomplete($event)">
								{{toDo.title}}
							</span>
							<br>					
							<div class="editable description specialInlineFocus" 
								style="cursor:text" (dragover) = "onDragOver($event)"
								(drop) = "onDropIncomplete($event)">
								{{toDo.description}}
							</div>
							<br>
							<div>
								<div style="float:left">
									<i class="material-icons" (click)="saveToDo(toDo)" 
										style="cursor:pointer; color:#eee" title="Save this to-do"
										onmouseenter="this.style.color='white'"	onmouseleave="this.style.color='#eee'">
										save
									</i>
								</div>
								<div style="text-align: right;"><i>{{toDo.author}}</i></div>
							</div>
						</div>
						<span class="deleteTodo" (click)="deleteToDo(toDo)" title="Delete this to-do"></span>
					</div>
				</li>
			</ul>
			
			
		</div>
		<div class="col s6 leftDivider" (dragover) = "onDragOver($event)"
			(drop) = "onDropComplete($event)" id="rightBucket">
			<h1 class="header center dark-green-text" style="font-size: 3.2rem;">Complete</h1>
			<ul id='completeList'>
				<li *ngFor = "let toDo of complete" >
					<div class="card green darken-1 hoverable scale-transition"
						draggable="true" (dragstart)="onDrag(toDo)"
						style="cursor:move" id="{{toDo._id}}Card">
						
						<div class="card-content white-text" id="{{toDo._id}}">
							<span class="card-title editable title specialInlineFocus"
								style="cursor:text" (dragover) = "onDragOver($event)"
								(drop) = "onDropComplete($event)">
								{{toDo.title}}
							</span>
							<br>					
							<div class="editable description specialInlineFocus"
								style="cursor:text" (dragover) = "onDragOver($event)"
								(drop) = "onDropComplete($event)">
								{{toDo.description}}
							</div>
							<br>					
							<div>
								<div style="float:left" title="Save this to-do">
									<i class="material-icons" (click)="saveToDo(toDo)" 
										style="cursor:pointer;color:#d0d0d0" onmouseenter="this.style.color='white'"
										onmouseleave="this.style.color='#d0d0d0'">
										save
									</i>
								</div>
								<div style="text-align: right;"><i>{{toDo.author}}</i></div>
							</div>
						</div>
						<span class="deleteTodo" (click)="deleteToDo(toDo)" title="Delete this to-do"></span>
					</div>
				</li>
			</ul>
		</div>
    </div>
</div>
<div class="fixed-action-btn" id='addButton' style="left: 15px;bottom: 15px;">
	<a class="btn-floating btn-large light-blue lighten-1" (click)="addToDo()">
		<i class="material-icons">add</i>
	</a>
</div>